<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    hello {{user.name}}<img src="{{user.img}}">
    
    <a herf="/logout">logout</a>
    <br>
    <form id="myForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="user">name of user:</label>
        <input type="text" id="user" name="user"><br><br>
        <button type="button" onclick="create()">create</button>
      </form>
      <div id="c">
        <h1>chats</h1>
        <script>fetch("/../chats/available",{method:'GET'}).then((post)=>{
            return post.json()
        }).then((data)=>{
            let d=document.getElementById('c')
            for(let i=0;i<data.rooms.length;i++){
                d.innerText+=data.rooms[i].name;
            }
            
        })</script>
      </div>
      <script src="/static/func.js"></script>
</body>
</html>