<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    hello {{user.username}}<img src="{{user.img}}">
    
    <a href="/logout">logout</a>
    <br>
    <p id="error"></p>
    <form id="myForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="user">name of user:</label>
        <input type="text" id="user" name="user"><br><br>
        <button type="button" onclick="create()">create</button>
      </form>
      <div id="c">
        <h1>chats</h1>
        <script>fetch("/../chats/available",{method:'GET'}).then((post)=>{
            return post.json()
        }).then((data)=>{
            let d=document.getElementById('c')
            console.log(data)
            for(let i=0;i<data.rooms.length;i++){
                var IO = document.createElement("input")
                d.appendChild(IO)
                IO.setAttribute("type","button")
                IO.setAttribute("onclick","e("+data.rooms[i].id+")")
                IO.value=data.rooms[i].name
                var b= document.createElement("br")
                d.appendChild(b)
            }
            
        })
        function e(ID){
            location.href = "/chats/" + ID;
        }
        </script>
      </div>
      <script src="/static/func.js"></script>
</body>
</html>