<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    hello {{user.name}}<img src="{{user.img}}">
    
    <a herf="/logout">logout</a>
    <br>
    <form id="myForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="user">name of user:</label>
        <input type="text" id="user" name="user"><br><br>
        <button type="button" onclick="create()">create</button>
      </form>

      <script src="/static/func.js"></script>
</body>
</html>