<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/func.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="login" id="login">
        <div class="switch">
            <div class="logbtn" onclick="switch2();">Login</div>
            <div class="signupbtn" onclick="switch1();">Sign up</div>
        </div>
        <h1 id="title">LOGIN</h1>
        <div class="inputs">
            <form id="myForm">
                
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="showname" id="shownamel">showname:</label>
                <input type="text" id="showname" name="showname"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <label for="confirm_password" id="confirm_passwordl">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password"><br><br>
                <button type="button" id="btn1" onclick="login()">Login</button>
                <button type="button" id="btn2" onclick="sign()">Sign up</button>
              </form>
              
    </div>
        </div>
</body>
</html>