<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/func.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1 id="title">LOGIN</h1>
        <div class="inputs">
        <input class="usern" type="text" name="" placeholder="Username" required>
        <input class="userp" type="password" name="" placeholder="Password" required >
        </div>
        <div class="entering">
            <button class="subm">Login</button>
            <button class="change" onclick="">sign up</button>
        </div>
        </div>
</body>
</html>