<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1 id="title">LOGIN</h1>
        <div class="inputs">
        <input class="usern" type="text" name="" id="name" placeholder="Username" required>
        <input class="userp" type="password" name="" id="password" placeholder="Password" required >
        </div>
        <div class="entering">
            <script >let loginbtn = document.getElementsByClassName('subm');
                let signupbtn = document.getElementsByClassName("change");
                let username = document.getElementsByClassName('usern')[0].value;
                let title = document.getElementsByClassName("title")
                let pas=document.getElementById('password').value
                function sign(){
                    fetch("/../login",{
                        method:"POST"
                        ,body:({
                            name:username,password:pas
                        }),headers:({
                            "Content-Type": "application/json"
                        })
                    })
                }</script>
            <button class="subm" onclick="sign()">Login</button>
            <button class="change" >sign up</button>
        </div>
        </div>


        
</body>
</html>